<a href="https://colab.research.google.com/github/harisgulzar1/pythonbasics/blob/main/PythonBasicsLecture1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Welcome to the Basics to the Python course! üòÄ

Your first step in becoming a Python expert. ü¶æ

# **1.1 Data Types in Python**

Let's learn about basic data types in Python!
You will mainly come across following data types in most programming languages.

1.   Integer
2.   Binary
3.   Float
4.   String

Let's see to define these variables in Python.

In [33]:
azam = 1
nitesh = 2 

tokyo = True
osaka = False

Weight = 67.5
Height = 177.5

profession = 'engineer'
location = "tokyo japan"

Idea üí°

**A string is a list of characters**

In [28]:
# You can also add comments in your code

p = profession[1]
print(p)

n

In [29]:
print(len(location))

5

A list can contain variables of any types.

Let's define a list of integers.

In [1]:
my_list = [0, 1, 3, 4]

print(my_list[1])
print(my_list[1:])

# Index in Python always starts with zero

print(len(my_list))

1
[1, 3, 4]
4

Idea üí°

**how about list of a list?**

In [9]:
list1 = [0,1,2]
list2 = [1,2,3]
list3 = [3,3,4]


mylist = [list1, list2, list3]

print(mylist[0][0])

0

That is more like a 2D array!

In [12]:
array = [[0,1,2],[3,4,5],[6,7,8]]

**Exercise** **‚ùì**

Define a 3D array of size 2x2x2

**`Dictionary Data Type`**

A very diverse data type.

In [14]:
university = {"name": "SIT", "year": 1945, "public": True}

# A list with values of any data type and index and keys.

print(university["public"])

True

The magic of print statement. ‚≠ê

In [ ]:
print("The", university["name"], "was established in ", university['year'])

# **1.2 Logics**

Programming is a tool to execute logics on computer.

What is the simplest logic you can think of?

# **IF**

In [16]:
window = "open"
light = False


if window == "open":
  light = True
else:
  light = False

print(light)

True

In [18]:
price = 100


if price < 50:
  print("Will not buy")
elif 50 < price <= 100:   #Else IF
  print("Will think")
else:
  print("Will not buy")

# What will be printed?

Will think

# **LOOP**

Think of an example of a loop.

In [26]:
import time #Library of Python (Python has unlimted number of libraries)

for i in range(10):
  time.sleep(1)           # built in function of a library
  print(i)

0
1
2
3
4
5
6
7
8
9

**Exercise** ‚ùì

**Print True if a word has a letter 'a' in it, else print False!**

# **1.3 Functions**

It wraps a part of a program logic.

Think of a common function.

# **y  = f (x)**

x is argument.

y is retuen value.

Function: Convert Farehnhite into Celsius.

In [31]:
def converter(f_temp):

  f_temp = 5/9*f_temp - 32
  return f_temp

In [32]:
print(converter(90))

18.0

### **Exercise** ‚ùì

**Write a function to find number of spaces in a sentence.**